<section id="map-section">
  <header class="clearfix">

    <form id="locate" action="/" class="width">
      <h3>Find trans-friendly services:</h3>
      <div class="form-responsive">
        <div class="styled-select">
          <%= select_tag 'category', options_from_collection_for_select(@categories, :name, :name), :prompt => "Category" %>
        </div>
        <div class="form-responsive-2">
          <%= text_field_tag :zip, nil, :maxlength => 5, :placeholder => "Zip Code", :pattern => "\\d*" %>
          <%= submit_tag "Go!" %>
        </div><!-- /form-responsive-2 -->
      </div><!-- /form-responsive -->
    </form>
  </header>
  <div id="map-container">
    <div id="map">
    </div>
    <div class="modal"><!-- Place at bottom of page --></div>
  </div>
</section><!-- /map -->

<%= render :partial => 'results' %>