<section id="results" class="clearfix">
  <div class="width">
    <%= link_to "Add a resource +", new_resource_path, :class => 'add-resource' %>
    <div id="locations"></div>
    <div id="pager"></div>
  </div>

</section><!-- /results -->