<section id="about">
  <div class="width">
    <div class="textfill">Trans*ResourceUS's mission is to provide a comprehensive web and mobile application that empowers, stabilizes, uplifts and creates community solidarity by providing a search engine for employment, housing and health information.</div>
  </div>
</section><!-- /about -->

<%= render :partial => 'map' %>