<section id="about">
  <div class="width">
    <div class="textfill">Trans*ResourceUS's mission is to provide a comprehensive web and mobile application that empowers, stabilizes, uplifts and creates community solidarity by providing a search engine for employment, housing and health information.</div>
  </div>
</section><!-- /about -->
<section id="map-section">
  <header class="clearfix">
    <form id="locate" action="" class="width">
      <h3>Find trans-friendly services:</h3>
      <div class="form-responsive">
        <div class="styled-select">
          <select name="categories">
            <option value="Category">Category</option>
            <option value="health">Healthcare</option>
            <option value="mental">Mental Health</option>
            <option value="crisis">Crisis</option>
            <option value="restrooms">Restrooms</option>
            <option value="housing">Housing</option>
            <option value="Employment">Employment</option>
            <option value="social">Social</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-responsive-2">
          <input type="text" name="zip" placeholder="Zip Code...">
          <input type="submit" value="Go!">
        </div><!-- /form-responsive-2 -->
      </div><!-- /form-responsive -->
    </form>
  </header>
  <div id="map-container">
    <div id="map">
    </div>
    <div class="modal"><!-- Place at bottom of page --></div>
  </div>
</section><!-- /map -->
<section id="results" class="clearfix">
  <div class="width">
    <a href="#" class="add-resource">Add a resource + </a>
    <div id="locations"></div>
    <div id="pager"></div>
  </div>
</section><!-- /results -->