#map {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

#locations {
  float:left;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

#map-container.loading {
  overflow: hidden;
  .modal {
    display: block;
  }
}

.label {
  font-weight:bold;
}