<aside id="transms">
  <div class="width">
    <strong>TranSMS:</strong> Text <strong>617-433-TRNS</strong> (8767) to find trans* resources via SMS! <a href="#">Learn More &raquo;</a><a href="#" class="dismiss">Dismiss &raquo;</a>
  </div>
</aside>